@import 'reset.scss';
@import 'zmienne.scss';
@import 'mixiny.scss';


/*===== custon =====*/
section {
	font-family: 'Monda', sans-serif;
	color: $dark-grey;
}
h1 {
	font-weight: bold !important;
}
button {
	color: #fff;
	background-color: $light-blue;
	height: 45px;
	border: none;
	font-weight: bold;
}
.title {
	text-align: center;
	margin-top: 50px;
	h1 {
		font-weight: bold !important;
	}
	p {
		font-size: 18px;
		color: $medium-grey;
	}
}
.line {
	position: relative;
}
.line:after {
	@include pseudoelement;
	color: $medium-grey;
	width: 100px;
	border: 1px solid $medium-grey;
	vertical-align: center;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0%);

}







/*===== form =====*/
#form {
	background: url('../images/form/bg1.jpg') no-repeat center center / cover;
	padding-top: 50px;
	padding-bottom: 50px;
	span {
		color: $light-blue;
	}
	.container {
		margin-bottom: 30px;
	}
	.sub-title {
		font-size: 26px;
		margin-bottom: 20px;
		font-weight: 500;
	}
	.bold {
		font-weight: bold;
	}
	.check-box {
		display: block;
		background-color: #fff;
		opacity: 0.8;
		border-radius: 5px;
		padding: 10px 0;
	}
	.check {
		display: flex;
		justify-content: left;
		margin: 10px;
		i {
			margin: 10px;
			font-size: 30px;
			color: $green;
		}
		p {
			margin-left: 5px;
			font-size: 15px;
		}
	}
	.round {
		border-radius: 5px;
	}
	.black {
		background-color: $dark-grey;
		color: #fff;
		display: flex;
		align-items: center;
		padding: 16px;
		margin: 0;
		width: 100%;
		i {
			margin: 0 10px;
		}
		p {
			font-size: 50px !important;
		}
		h4 {
			margin-right: 6px;
		}
	}
	.white {
		background-color: #fff;
		padding-bottom: 20px;
		border: none;
		p {
			margin-bottom: 0;
			text-align: left;
			font-weight: 500;
			color: $dark-grey;
		}
		input {
			width: 100%;
			border-radius: 5px;
			border: 1px solid $light-grey;
			outline: none;
			height: 35px;
			margin: 0 auto;
			&:focus {
				border-color: $light-blue;
				transition: all ease-in-out 0.3s;
			}
		}
		button {
			width: 95%;
			margin: 0 auto;
			border-radius: 5px;
			margin-top: 20px;
			&:hover {
				background-color: $medium-grey;
			}
		}
	}
	.formula {
		margin-top: 20px;
		width: 100%;
		p {
			font-size: 18px;
		}
	}
	.call {
		margin-left: 2.5%;
		margin-top: 15px;
		text-align: left;
	}
}

/* ====== info =====*/
#info {
	padding-top: 50px;
	.col-md-3 {
		margin-top: 30px;
	}
}
.package {
	display: flex;
	align-items: center;
	flex-direction: column;
	a {
		@include flexy;
		text-align: center;
		background-color: $light-blue;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		margin-bottom: 25px;
		cursor: auto;
		&:hover {
			text-decoration: none;
		}
		i {
			font-size: 40px;
			color: #fff;
		}
	}
	h4 {
		font-weight: bold !important;
		margin-bottom: 30px;
	}
	p {
		color: $medium-grey;
		font-weight: thin;
	}
}

/* ===== emergency =====*/
#emergency {
	margin-bottom: 80px;
	margin-top: 40px;
	.container {
		display: block;
		background-color: #f8f8f9;
		width: 90%;
		margin: 0 auto;
		border-radius: 5px;
		box-shadow: 10px 5px 5px grey;
		.col-sm-12 {
			margin-top: 50px;
			margin-bottom: 40px;
		}
		.col-md-4 {
			@include flexy;
		}
	}
}
#emergency {
	h2 {
		font-weight: 900 !important;
	}
	p {
		font-weight: thin;
		color: $medium-grey;
	}
	button {
			border-radius: 5px;
			&:hover {
				background-color: $medium-grey;
			}
	}
}
		
/* ===== options =====*/

.pack {
	display: flex;
	margin-top:20px;
	i {
		font-size: 45px;
		margin-top: 5px;
		margin-right: 15px;
		color: $light-blue;
	}
	p {
		color: $medium-grey;
		font-size: 14px;
	}
}

/* ===== doctors =====*/
#doctors {
	ul {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-top: 40px;
		li {
			@include flexy;
			height: 35px;
			width: 160px;
			border: 1px solid $dark-grey;
			border-radius: 5px;
			margin: 20px;
			cursor: pointer;
			font-size: 14px;
		}
	}
	.layer {
		position: absolute;
		opacity: 0;
		width: 100%;
		top: 0;
		left: 0;
		@include flexy;
	}
	img {
		margin-bottom: 20px;
		position: relative;
	}
	span {
		font-weight: bold;
		color: $light-blue;
	}
	p {
		color: $medium-grey;
	}
}
img :hover .layer {
			opacity: 0.8;
			transition: 0.3s;
}
/* ===== packages ==== */
#packages {
	background-color: #F5F5F5;
	.col-sm-4 {
		margin-top: 100px;
		color: #fff;
	}
	li {
		display: flex;
		border-bottom: 1px solid #e8e8e8;
		background: #fff;
		i {

			font-size: 10px;
			color: green;
		}
	}
}
.pack {
	display: block;
	margin: 0;
	.name {
		background-color: #989898;
		color: #fff;
		margin: 0;
		p {
			color: #fff;
		}
	}
	.prize {
		margin: 0;
		background-color: $medium-grey;
		p {
			color: #fff;
			
		}
	}

}

/* ===== logo =====*/ 

#logo {
	padding-top: 80px;
	margin-bottom: 80px;
	
}

/* ===== contact =====*/ 

#contact {
	background-color: #f8f8f9;
	padding-top: 30px;
	padding-bottom: 40px;
}
.footer-title {
	font-size: 22px;
	margin-bottom: 10px;
}
.footer-text {
	color: $medium-grey;
	font-size: 17px;
	font-weight: thin;
}
.contacts {
	display: flex;
	div {
		@include flexy;
		height: 35px;
		width: 35px;
		background-color: $medium-grey;
		border-radius: 50%;
		margin-right: 10px;
		i {
			color: #fff;
			font-size: 20px;
		}
	}
	p {
		margin-top: 5px;
	}
}
.social {
	display: flex;
	justify-content: left;
}
.media {
	paddig: 10px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: black;
	margin-right: 5px;
	&:hover {
		text-decoration: none;
	}
	a {
		display: block;
		height: 20px;
		width: 20px;
		margin-top: 10px;
		i {
			color: #fff;
			font-size: 15px;
		}
	}
}
/* ===== footer =====*/

#footer {
	padding-top: 20px;
	background-color: $light-grey;
	border-top: 1px solid $medium-grey;
	p {
		text-align: center;
	}
}















